# Run the Component Governance Detection task

trigger:
- main

pool:
  vmImage: 'ubuntu-latest'

steps:
- task: ComponentGovernanceComponentDetection@0
  inputs:
    scanType: 'Register'
    verbosity: 'Verbose'
    alertWarningLevel: 'High'
    failOnAlert: true