.idea/*
*.pyc
*.so
*.egg*
*.z?
*.ulx
*.ni
*.iml
**/.idea/*
**/cmake-build-debug/*
.tox/
.vs/*
**git-glulx-ml
*.sublime-*
build/*
gen_games*/
experiments*/
/textworld/thirdparty/inform7-6M62
gameinfo.dbg
textworld_data/
Inform/
I7_6M62_Linux_all.tar.gz
tmp/*
*.ipynb_checkpoints
/dist
/wheelhouse
docs/build
docs/src
